{{page-title "Contacts"}}

<h1>Create Contact</h1>
<div>
  <Input @value={{this.name}} placeholder="Name" name="name" />
  <Input @value={{this.email}} placeholder="Email" name="email"/>
  <button {{action 'createContact'}} type="button">
    Create Contact
  </button>
</div>
<button {{action 'get'}} type="button">
    Contact List
  </button>
{{outlet}}